* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #2a2a2a;
  color: #fff;
}

img {
  width: 100%;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.netflix-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #141414;
}

.netflix-header .links {
  display: flex;
  font-size: larger;
  justify-content: left;
  align-items: center;
}

.netflix-header .logo img {
  width: 100px;
}

.nav-links {
  margin-left: 10px;
}

.nav-links a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #e50914;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 5px 10px;
  border: none;
  border-radius: 3px 0 0 3px;
  font-size: 14px;
  outline: none;
}

.search-button {
  padding: 5px 10px;
  border: none;
  background-color: #e50914;
  color: #fff;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  font-size: 14px;
}

.search-button:hover {
  background-color: #d40813;
}

.profile {
  position: relative;
}

.profile img {
  width: 30px;
  cursor: pointer;
  border-radius: 5px;
}

.dropdown {
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #333;
  border-radius: 5px;
  overflow: hidden;
}

.dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown ul li {
  border-bottom: 1px solid #444;
}

.dropdown ul li:last-child {
  border-bottom: none;
}

.dropdown ul li a {
  display: block;
  padding: 10px 20px;
  color: #746f6f;
  text-decoration: none;
  font-size: 14px;
}

.dropdown ul li a:hover {
  background-color: #444;
}

.profile:hover .dropdown {
  display: block;
}

.card {
  width: 230px;
  border: 1px solid rgb(156, 156, 156);
}

.card:hover {
  transform: scale(1.022);
  transition: 0.3s;
}

.backDropImage {
  height: 70vh;
}

.container {
  width: 90%;
  margin: 40px auto;
}

.search-container {
  position: relative;
}

.searchData {
  width: 260px;
  background-color: #2b2b2b;
  position: absolute;
  top: 110%;
}

.movie_box {
  border: 1px solid rgb(152, 152, 152);
  height: 20%;
  margin: 10px auto;
  padding: 5px 0;
  color: rgb(202, 202, 202);
}

#pagination {
  margin: 0 auto;
  width: 50%;
}

#pagination a {
  margin: 0 5px;
  font-size: 2em;
  color: white;
}

#pagination a.highlight {
  color: red !important;
}
